<h1>Signup</h1>
<form action='/auth/signup' method='POST' , style="display: flex; flex-direction: column;">

  <label>Username:
    <input name="username" />
  </label>

  <label>Email:
    <input name="email" required />
  </label>

  <label>Password:
    <input name="password" type="password" required />
  </label>

  <button type="submit" , style="width: 25vw;">Create New User</button>

</form>